*{
  /* green color pallet */
  --dust-grey: rgb(218,215,205);
  --dry-sage: rgb(163,177,138);
  --fern: rgb(88,129,87);
  --hunter-green: rgb(58,90,64);
  --pine-teal: rgb(52,78,65);

  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif; */
  font-weight: normal;

  --top-bottom-margins: min(2%, 200px);
  --side-margins: min(5%, 200px);
}

html{
  margin-top: var(--top-bottom-margins);
  margin-bottom: var(--top-bottom-margins);
  margin-left: var(--side-margins);
  margin-right: var(--side-margins);

  background-color: var(--dry-sage);
}

.navBar{
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: -1rem;

  display: flex;
  align-items:last baseline;
  justify-content: space-between;

  padding: 0.5rem;
}

.titleIcon{
  width: 33%;
  min-width: 128px;
  height: auto;
  image-rendering: pixelated;

  margin-bottom: 1rem;
}

.todaysDate{
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;

  width: fit-content;
  text-align: right;
  color: var(--hunter-green)
}

.loadedAt{
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;

  text-align: right;
  font-size: 1.25rem;
  color: var(--fern)
}

.loadingText{
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  color: var(--dry-sage);
  margin-top: 2rem;
}

.filter{
  width: 100%;;
  margin-top: 1rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;

  border-bottom: 4px solid var(--fern);
}

.filterText{
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 0.75rem;
  color: var(--pine-teal);
}

.filterButton{
  border: none;
  padding: 0.75rem;
  border-radius: 1000px;

  min-width: 50px;

  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 0.6rem;
  /* font-weight: bold; */
  color: var(--hunter-green);

  margin-top: 0.5rem;
  margin-right: 0.5rem;

  transition: 0.1s linear;
}

.filterButton:hover{
  cursor: pointer;
}

.filterbutton.active{
  color: var(--fern);
}

.filterButton.inactive{
  opacity: 50%;
}

.itemsContainer{
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 800px;
  min-height: 50dvh;
  margin: 0 auto;

  border: 4px solid var(--pine-teal);
  background-color: var(--dust-grey);

  box-shadow: 4px 4px var(--fern);
}

.item{
  width: 100%;

  display: flex;
  flex-direction: column;

  margin-bottom: 0.5rem;

  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  border-bottom: 4px dashed var(--fern);
}

.item:last-of-type{
  border-bottom: none;
}

.genreImage{
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;

  image-rendering: pixelated;

  /* probably don't need this as all pictures are 32x32 */
  width: 32px;
  height: 32px;;
}

.articleTitle{
  font-family: "Silkscreen", sans-serif;
  font-size: 1.5rem;
  font-style: normal;

  text-align: center;
  text-wrap: balance;
}

.articleTitle > a{
  color: var(--hunter-green);
  font-weight: bold;
  text-decoration: none;
}

.articleTitle > a:hover{
  color: var(--pine-teal);
  text-decoration: underline;
}

.articleTitle > a:visited{
  color: var(--dry-sage);
}

.articleInfo{
  font-family: "Silkscreen", sans-serif;
  font-size: 1rem;
  font-style: normal;

  display: flex;
  justify-content: center;
  margin-left: 0.5rem;
  padding-bottom: 0.5rem;
}

.articleInfo > .authorName{
  font-weight: bold;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.articleInfo > .publishedDate{
  color: rgb(75, 75, 75);
}

.articleContent{
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color: var(--fern);

  text-indent: 1rem;
  text-wrap: balance;
  text-align: center;

  padding-left: 2rem;
  padding-right: 2rem;
}